Pillow>=10.4.0
pystray>=0.19.5
winrt-runtime>=3.2.1
winrt-Windows.Foundation>=3.2.1
winrt-Windows.Foundation.Collections>=3.2.1
winrt-Windows.Globalization>=3.2.1
winrt-Windows.Graphics.Imaging>=3.2.1
winrt-Windows.Media.Ocr>=3.2.1
winrt-Windows.Storage>=3.2.1
winrt-Windows.Storage.Streams>=3.2.1
